{% comment %}
  This file represents the site navigation.
  "Introduction" link text changed to "Back to Top".
{% endcomment %}

<nav class="site-nav">
  <div class="intro-link">
    {% comment %} Link to the main landing page - Text Changed {% endcomment %}
    <a href="{{ '/' | relative_url }}">Back to Top</a>
  </div>

  <h3>TGM Guide</h3>
  <ul>
    <li><span class="nav-lesson-number">1:</span><a href="{{ '/tips/01-basics.html' | relative_url }}">Basics</a></li>
    <li><span class="nav-lesson-number">2:</span><a href="{{ '/tips/02-basic-stacking.html' | relative_url }}">Basic stacking</a></li>
    <li><span class="nav-lesson-number">3:</span><a href="{{ '/tips/03-skimming.html' | relative_url }}">Skimming</a></li>
    <li><span class="nav-lesson-number">4:</span><a href="{{ '/tips/04-recovery.html' | relative_url }}">Recovery</a></li>
    <li><span class="nav-lesson-number">5:</span><a href="{{ '/tips/05-fast-falling.html' | relative_url }}">Fast falling stages</a></li>
    <li><span class="nav-lesson-number">6:</span><a href="{{ '/tips/06-fifth-column.html' | relative_url }}">Increasing the fifth column</a></li>
    <li><span class="nav-lesson-number">7:</span><a href="{{ '/tips/07-movement-range.html' | relative_url }}">Movement range</a></li>
    <li><span class="nav-lesson-number">8:</span><a href="{{ '/tips/08-advanced-rotation.html' | relative_url }}">Advanced rotation</a></li>
    <li><span class="nav-lesson-number">9:</span><a href="{{ '/tips/09-rotating-obstacles.html' | relative_url }}">Rotating over obstacles</a></li>
    <li><span class="nav-lesson-number">10:</span><a href="{{ '/tips/10-advanced-stacking.html' | relative_url }}">Advanced stacking</a></li>
    <li><span class="nav-lesson-number">11:</span><a href="{{ '/tips/11-time-attack.html' | relative_url }}">Time attack</a></li>
    <li><span class="nav-lesson-number">12:</span><a href="{{ '/tips/12-advanced-techniques.html' | relative_url }}">Advanced techniques</a></li>
  </ul>

  <h3>TAP Guide</h3>
  <ul>
    <li><span class="nav-lesson-number">13:</span><a href="{{ '/tips/13-master-m.html' | relative_url }}">Master m</a></li>
    <li><span class="nav-lesson-number">14:</span><a href="{{ '/tips/14-death-m.html' | relative_url }}">Death m</a></li>
    <li><span class="nav-lesson-number">15:</span><a href="{{ '/tips/15-death-gm.html' | relative_url }}">Death Gm</a></li>
    <li><span class="nav-lesson-number">16:</span><a href="{{ '/tips/16-master-gm.html' | relative_url }}">Master Gm</a></li>
  </ul>

  <h3>Ti Guide</h3>
  <ul>
    <li><span class="nav-lesson-number">17:</span><a href="{{ '/tips/17-new-system.html' | relative_url }}">The new system</a></li>
    <li><span class="nav-lesson-number">18:</span><a href="{{ '/tips/18-shirase-1300.html' | relative_url }}">Shirase to Lv.1300</a></li>
    <li><span class="nav-lesson-number">19:</span><a href="{{ '/tips/19-invisible-roll.html' | relative_url }}">Invisible staff roll</a></li>
  </ul>
</nav>
